;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [
    [reagent "0.8.0-alpha2"]
    [org.roman01la/cljss "1.5.12"]
    [sablono "0.8.1"]
 ]

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"

   :compiler-options
   {:externs ["lib/externs.js"]}

   :modules
   {:main {:entries [demo.app]}}

   :devtools
   {:http-root   "public"
    :http-port    4001
    :after-load   demo/mount-root!
    }}}}
