;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 []

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"

   :compiler-options
   {:externs ["lib/externs.js"]}

   :modules
   {:main {:entries [demo.app]}}

   :js-options
   {:resolve

    {"rxjs"
     {:target :global
      :global "Rx"}}

    "rxjs/Observable"
    {:target :global
     :global "Rx.Observable"}}


   :devtools
   {:http-root "public"
    :http-port 4001}}}}
