;; shadow-cljs.edn configuration
{:source-paths ["src"]
 :dependencies []

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:common {:entries [my.app.common]}

             :page-a {:entries [my.app.page-a]
                      :depends-on #{:common}}

             :page-b {:entries [my.app.page-b]
                      :depends-on #{:common}}}

   :devtools
   {:http-root "public"
    :http-port 9000}

   :release
   {:output-dir "production/js"}

   :compiler-options
   {:externs ["my-externs.js"]}
   }}}
