;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 []

 :builds
 {:app {:target build/custom
        :middleware [:build/babelize]
        :build/middleware [:build/spit-state :build/babelize]
        :build/shadow-target :shadow.build.targets.browser/process
        :modules {:base {:entries [cljs.core]}
                  :app {:entries [demo.app]
                        :depends-on #{:base}}}

        :devtools
        {:http-root "public"
         :http-port 9300}
        }}}
